#search{
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    width: 20rem;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    padding-left: 2.5rem;
    padding: 0.5rem;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 54%;
    margin-top: 6px;
    
}